<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>{{ project.title }}</title>
  <link rel='stylesheet' href='/static/css/normalize.css'>
  <link rel='stylesheet' href='/static/css/skeleton.css'>
  <link rel='stylesheet' href='/static/css/{{ project.name }}.css'>
  {% include 'favicons.html' %}
</head>
<body>
  <header>
    <h1><a href="/">{{ project.title  }}</a></h1>
    <span id="user">
      {% if user.is_authenticated %}
      {{ user.get_username }} |
      {% if user.is_superuser %}
      <a href="{% url 'admin:index' %}">Admin</a> |
      {% endif %}
      <a href="{% url 'logout' %}">Log out</a>
      {% else %}
        <a href="{% url 'login' %}">Log in</a>
      {% endif %}
    </span>
  </header>
  <main class='container container-sm'>
    {% block content %}{% endblock content %}
  </main>
  {% include 'release.html' %}
</body>
</html>
