{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Log in</h2>
{% if form.non_field_errors %}
<div class="error">{{ form.non_field_errors }}</div>
{% endif %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="info">{{ field.help_text|safe }}</div>
    <div class="error">{{ field.errors }}</div>
    {{ field }}
  {% endfor %}
  <input type="submit" value="{% trans 'Log in' %}" class="u-full-width">
  <input type="hidden" name="next" value="{{ next }}">
</form>

<p>
  <a href="{% url 'password_reset' %}">{% trans "Forgot password" %}</a>
</p>
{% endblock %}
