{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Reset Password</h2>

<p>
  Enter your email address to send a password reset link.
</p>

{% if form.non_field_errors %}
<div class="error">{{ form.non_field_errors }}</div>
{% endif %}

<form method="post" action="{% url 'password_reset' %}">
  {% csrf_token %}
  {% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="info">{{ field.help_text|safe }}</div>
    <div class="error">{{ field.errors }}</div>
    {{ field }}
  {% endfor %}
  <input type="submit" value="{% trans 'Submit' %}" class="u-full-width">
</form>
{% endblock %}
