{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Reset Password</h2>

{% if validlink %}
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="info">{{ field.help_text|safe }}</div>
    <div class="error">{{ field.errors }}</div>
    {{ field }}
  {% endfor %}

  <input type="submit" value="{% trans 'Submit' %}" class="u-full-width">
</form>
{% else %}
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset link." %}</p>

{% endif %}
{% endblock %}
