.container.container-sm {
  max-width: 480px;
}

.info {color: #007bff !important;}
.success {color: #28a745 !important;}
.warning {color: #ffc107 !important;}
.error {color: #dc3545 !important;}

@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {text-transform: uppercase; letter-spacing: 0.25rem;}
h1 { font-size: 3.6rem; line-height: 1.25;}
h2 { font-size: 3.0rem; line-height: 1.3;}
h3 { font-size: 2.4rem; line-height: 1.35;}
h4 { font-size: 1.8rem; line-height: 1.5;}
h5 { font-size: 1.5rem; line-height: 1.6;}
h6 { font-size: 1.0rem; line-height: 1.65;}
@media (min-width: 550px) {
  h1 { font-size: 4.2rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3.0rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1.0rem; }
}

header {
  padding: 1.2rem 1.8rem;
  margin-bottom: 2rem;
  position: relative
}
header > h1 {
  font-size: 2rem;
  margin: 0;
}
header > h1 > a, header > h1 > a:hover {
  text-decoration: none;
}

header > span#user {
  position: absolute;
  top: 1rem;
  right: 1.8rem;
}
@media (max-width: 550px) {
  header > span#user {
    position: static;
  }
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    border-radius: 0;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover,
input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus,
input[type="reset"]:focus, input[type="button"]:focus {
  outline: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"],
input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus,
input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus,
input[type="password"]:focus, textarea:focus, select:focus {
}

label, legend {
  font-weight: 500;
  letter-spacing: 1px;
}

code {
  border-radius: 2px;
  padding: .4rem .8rem;
}
